!!!
%html
  %head
    %title Bkmrkr
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{:src => "//use.typekit.net/wsr0bwl.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}  
  %body
    %header.header
      .container
        %h1
          = link_to 'Bkmrkr', root_path
        = link_to 'Add', new_bookmark_path, :class => 'add'
    .container
      .main
        - if notice
          #notice
            = notice
        = yield